:root {
    --main-color: #D6001C;
    --background--color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: san;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 0 var(--main-color) solid;
    border-bottom-width: 2px;
    color: var(--main-color);
}

.logo {
    font-size: 2rem;
}

.logo a {
    text-decoration: none;
    color: var(--main-color);
}

.logo a:hover {
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    padding: 0.5rem;
    color: var(--main-color);
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Start P-1 of Home Pages*/

.first-big-text {
    color: var(--main-color);
    font-size: 20rem;
    text-align: center;
}

.second-box {
    display: flex;
    justify-content:space-around;
}

.second-box-detail {
    /* border: #D6001C 2px solid */
    margin-right: 30%;
}

.second-box-detail-topic {
    color: var(--main-color);
    font-size: 3.4rem;
    margin-bottom: 1.8rem;
    font-weight: 700;
}

.second-box-detail-desrcibe {
    color: var(--main-color);
    font-size: 24px;
}

.second-box-logo {
    margin-right: 10%;
}

.second-box-logo img {
    width: 110%;
}

/* End P-1 of Home Page */

/* Start P-2 of Home Page */

.home-page2-sirproject {
    display: flex;
    padding-top: 1rem;
}

.hp2-box1 {
    background-color: var(--main-color);
    width: 50%;
    height: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hp2-box1 h3 {
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2.1rem;
    color: var(--background--color);
}

.hp2-box1-detail {
    color: var(--background--color);
    font-size: 20px;
    line-height: 1.7;
}

.hp2-box2 {
    background-color: var(--background--color);
    width: 50%;
    height: auto;
}

.hp2-box2-big-img img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hp2-box2-img-box {
    margin-top: 1rem;
}

.hp2-box2-img-box img {
    width: 50%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* End P-2 of Home Page */

/* Start P-3 of Home Page */
.home-page3-lstmproject {
    display: flex;
}

.hp3-box1 {
    width: 50%;
    background-color: var(--main-color);
    height: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hp3-box1 h3 {
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 2.1rem;
    color: var(--background--color);
}

.hp3-box1 p {
    color: var(--background--color);
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 5rem;
}

.hp3-box2 {
    width: 50%;
    background-color: var(--background--color);
}

.hp3-box2 video {
    width: 100%
}

.hp3-box2 img {
    margin-top: 1rem;
    width: 100%;
}

/* End of P-3 of Home Page (LSTM Project) */

/* Start of P-4 of Home Page (About me) */
.home-page4-aboutme {
    display: flex;
    margin-top: 2rem;
}

.hp4-box1 {
    /* background-color: var(--main-color); */
    width: 50%;
    color: var(--main-color);
}

.hp4-box1-about {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hp4-box1-about h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.hp4-box1-about p {
    font-size: 20px;
    line-height: 1.7;
}

.hp4-box1-contact {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 1rem;
}

.hp4-box1-contact h2 {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.hp4-box1-contact-link ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    list-style-type: none;
    font-size: 20px;
    margin-left: 4rem;
}

.hp4-box1-contact-link li a {
    text-decoration: none;
    color: var(--main-color);
}

.hp4-box1-contact-link li a:hover {
    text-decoration: underline;
}

.hp4-box2 {
    width: 50%;
    display: flex;
}

.hp4-box2 img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* End P-4 of Home Page (About me) */

/* Start of My Journey  */

.my-journey1 {
    display: flex;
}

.mj-box1 {
    background-color: var(--main-color);
    width: 50%;
    height: auto;
    color: var(--background--color);
}

.mj-box1-head {
    margin-left: 1.25rem;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.mj-box1-detail {
    margin-left: 1.25rem;
    line-height: 1.7;
    font-size: 20px;
}

.mj-box1-detail p {
    margin-bottom: 2rem;
    padding-right: 1.25rem;
}

.mj-box2 {
    background-color: var(--background--colorr);
    width: 50%;
    height: auto;
}

.mj-box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.mj-box2 img {
    margin-top: 1rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* End of My Journey Page */